# Gradle
.gradle/
build/
gradle.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Local configuration file
local.properties

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Logs
*.log 